<div class="container-fluid">
  <mat-card>
    <mat-card-title>
      Wi-Fi
    </mat-card-title>
    <mat-card-content>
      <form>
        <p>
          <mat-form-field class="full-width">
            <mat-label>SSID (tên Wi-Fi)</mat-label>
            <input
              name="wifi_SSID"
              matInput
              [(ngModel)]="config.wifi.ssid"
              required
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Mật khẩu</mat-label>
            <input
              name="wifi_password"
              matInput
              [(ngModel)]="config.wifi.password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-title>
      MQTT
    </mat-card-title>
    <mat-card-content>
      <form>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Địa chỉ máy chủ MQTT</mat-label>
            <input
              name="MqttAddress"
              matInput
              placeholder="VD: 546.lan hoặc 192.168.2.1"
              [(ngModel)]="config.mqtt.server"
              required
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Cổng máy chủ MQTT</mat-label>
            <input
              name="MqttPort"
              matInput
              placeholder="VD: 1883 hoặc 8883"
              [(ngModel)]="config.mqtt.port"
              required
            />
          </mat-form-field>
        </p>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="setConfig()"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
