<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Wi-Fi
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Trạng thái: {{ status.wifi.status }}</p>
          <p>Tên mạng Wi-Fi: {{ status.wifi.ssid }}</p>
          <p>Tín hiệu: {{ status.wifi.signal }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            MQTT
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Trạng thái: {{ status.mqtt.status }}</p>
          <p>Địa chỉ máy chủ: {{ status.mqtt.server }}</p>
          <p>Cổng máy chủ: {{ status.mqtt.port }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
